body {
    height: 100vh;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px 10px 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* sidebar */

.sidebar {
    width: 220px;
    height: fit-content;
    border: 2px solid #E1E8EF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-top {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 18px;
}

.sidebar-logo {
    width: 163px;
    height: 54px;
}

.sidebar-btn {
    width: 163px;
    height: 43px;
    background-color: #42A7C2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.category {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid #E1E8EF;
    border-bottom: 1px solid #E1E8EF;
    padding: 0 14px;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    width: 931px;
    height: 100%;
    margin-left: 50px;
}

/* header */

.header {
    width: 100%;
    margin-bottom: 19px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-bar {
    align-items: center;
    cursor: pointer;
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 26px;
}

.header-item {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #7B7B7B;
}

/* end header */

.breadcrumbs {
    display: none !important;
}

/* search */

.search {
    width: 100%;
    min-height: 90px;
    background-color: #eaf1f7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 47px;
}

.search-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    height: 49px;
    width: 50%;
    position: relative;
}

.search-input input {
    height: 100%;
    width: 100%;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 0 50px;
    font-size: 18px;
}

.search-btn {
    width: 94px;
    height: 49px;
    display: block;
    background-color: #42a7c2;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-search {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-text {
    display: block;
}

/* end search */

/* guide */

.guide {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;
}

.title-guide {
    display: flex;
    gap: 30px;
    align-items: center;
}

.guide-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* content-guide */

.content-guide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.content-card {
    width: 300px;
    height: 145px;
    border: 1px solid #42A7C2;
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* output */

.output {
    margin-bottom: 96px;
}

.title-output {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    align-items: center;
}

/* sub-title */

.sub-title {
    width: 221px;
    min-height: 53px;
    display: flex;
    align-items: end;
    font-size: 20px;
    color: #42A7C2;
    border-top: 4px solid #42A7C2;
    margin-bottom: 20px;
}

/* content-output */

.content-output {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.output-card {
    width: 220px;
    height: 160px;
    border-radius: 8px;
    background-color: #EAF1F7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #42A7C2;
}

/* function */

.function {
    margin-bottom: 154px;
}

.title-function {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.function-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.function-item {
    width: 100%;
    display: flex;
}

.function-left {
    width: 473px;
}

.function-right {
    display: flex;
    flex-direction: column;
}

.function-title-text {
    font-size: 20px;
    color: #42A7C2;
    margin: 26px 0 25px;
}

.function-left ul {
    color: #42A7C2;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.function-right ul {
    color: #42A7C2;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

.footer {
    height: 75px;
    width: 100%;
    background: #333333;
    color: #FFFFFF;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    width: 1151px;
    text-align: right;
    padding: 0 20px;
}

/* responsive */

@media screen and (max-width: 1220px) {
    .content-guide {
        grid-template-columns: repeat(2, minmax(0, 1fr));   
    }
}

@media screen and (max-width: 1000px) {

    .main {
        margin-left: 0px;
    }

    .search {
        min-height: fit-content;
    }

    .search-text {
        display: none;
    }

    .search-wrapper {
        width: 100%;
        background: #eaf1f7;
        border-radius: 50%;
    }

    .search-input {
        width: 100%;
    }

    .search-input input {
        width: 100%;
        background: #eaf1f7;
    }

    .search-btn {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    .content-guide {
        grid-template-columns: repeat(1, minmax(0, 1fr));   
    }

    .content-card {
        width: 100%;
    }

    .sidebar {
        display: none;
    }

    /* breadcrumb menu */

    .icon-bar {
        display: flex;
    }

    ul.breadcrumbs {
        margin: 0px 0px 19px;
        padding: 0px;
        font-size: 0px;
        line-height: 0px;
        display: inline-block !important;
        zoom: 1;
        height: 0px;
        vertical-align: top;
        overflow: hidden;
    }
    
    .show {
        height: 50px;
        min-height: 50px;
    }
    
    ul.breadcrumbs li {
        position: relative;
        margin: 0px 0px;
        padding: 0px;
        list-style: none;
        list-style-image: none;
        display: inline-block;
        zoom: 1;
        vertical-align: top;
        border-left: 1px solid #ccc;
        transition: 0.3s ease;
        max-width: 50px;
        overflow: hidden;
        cursor: pointer;
    }

    ul.breadcrumbs li:hover {
        max-width: 300px;
    }

    ul.breadcrumbs li:hover:before {
        border-left: 10px solid #96be11;
    }

    ul.breadcrumbs li:hover a {
        color: #000;
        background: #96be11;
    }

    ul.breadcrumbs li:before {
        content: "";
        position: absolute;
        right: -9px;
        top: -1px;
        z-index: 20;
        border-left: 10px solid #fff;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        transition: 0.3s ease;
    }

    ul.breadcrumbs li:after {
        content: "";
        position: absolute;
        right: -10px;
        top: -1px;
        z-index: 10;
        border-left: 10px solid #ccc;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
    }

    ul.breadcrumbs li.active a {
        color: #000;
        background: #96be11;
    }

    ul.breadcrumbs li.first {
        border-left: none;
    }

    ul.breadcrumbs li.first a {
        font-size: 18px;
        padding-left: 20px;
        border-radius: 5px 0px 0px 5px;
    }

    ul.breadcrumbs li.last:before {
        display: none;
    }

    ul.breadcrumbs li.last:after {
        display: none;
    }

    ul.breadcrumbs li.last a {
        padding-right: 20px;
    }

    ul.breadcrumbs li a {
        display: block;
        font-size: 12px;
        line-height: 40px;
        color: #757575;
        padding: 0px 15px 0px 25px;
        text-decoration: none;
        background: #fff;
        border: 1px solid #ddd;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.3s ease;
    }
}

@media screen and (max-width: 780px) {
    .search-btn {
        display: none;
    }

    .search-input {
        width: 100%;
    }

    .title-guide {
        flex-direction: column;
    }

    .title-output {
        flex-direction: column;
    }

    .guide-text {
        text-align: center;
    }

    .title-function {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 100%;
        margin-left: 0px;
    }

    .output-card {
        width: 100%;
    }

    .function-item {
        flex-direction: column;
        gap: 50px;
    }

}